<ion-view title="daily4" hide-nav-bar="true" id="page12">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="list card" id="daily4-card28">
      <ion-item class="item-icon-left" id="daily4-list-item36">
        <i class="icon ion-android-bulb"></i>Any shortness of breath?</ion-item>
      <div class=" item item-image">
        <img src="img/breath.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <form id="daily4-form9" class="list">
        <div class="item item-body" id="daily4-list-item-container13">
          <div id="daily4-markdown20" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Experiencing unusual shortness of breath after mild to moderate activity?</p>
          </div>
        </div>
        <ion-radio id="daily4-radio13" name="swelling">Yes</ion-radio>
        <ion-radio id="daily4-radio14" name="swelling">No</ion-radio>
        <a ui-sref="tabsController.dailyReward()" id="daily4-button10" class="button button-positive button-block">Done</a>
      </form>
    </div>
  </ion-content>
</ion-view>
