<ion-view title="daily-reward" hide-nav-bar="true" id="page13">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="list card" id="dailyReward-card29">
      <ion-item class="item-icon-left" id="dailyReward-list-item37">
        <i class="icon ion-android-bulb"></i>You're a champ!</ion-item>
      <div class=" item item-image">
        <img src="img/VBV8d2ZRTtWbKY9B038q_trophy-cup-flat-icon-flat-01-.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <form id="dailyReward-form10" class="list">
        <div class="item item-body" id="dailyReward-list-item-container14"></div>
        <ion-item class="item-divider" id="dailyReward-list-item-divider1">
          <center>Thanks for fulfilling your daily habit.
            <br>
            <h1>+100</h1>
            <h1></h1>Rewards Points!
            <br>
            <br>
            <p>Redeem them for healthy rewards
              <br>on the Card.io rewards tab.</p>
          </center>
        </ion-item>
      </form>
    </div>
    <div id="dailyReward-button-bar2" class="button-bar"></div>
  </ion-content>
</ion-view>