<ion-view title="daily2" hide-nav-bar="true" id="page9">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="list card" id="daily2-card21">
      <ion-item class="item-icon-left" id="daily2-list-item25">
        <i class="icon ion-android-bulb"></i>What's your current weight?</ion-item>
      <div class=" item item-image">
        <img src="img/weight.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <form id="daily2-form7" class="list">
        <label class="item item-input" id="daily2-input1" name="weight">
          <span class="input-label">Weight</span>
          <input type="text" placeholder="100 lbs">
        </label>
        <a ui-sref="tabsController.daily3()" id="daily2-button8" class="button button-positive button-block">Done</a>
      </form>
    </div>
  </ion-content>
</ion-view>
