<ion-view title="daily3" hide-nav-bar="true" id="page11">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="list card" id="daily3-card27">
      <ion-item class="item-icon-left" id="daily3-list-item34">
        <i class="icon ion-android-bulb"></i>Are you feeling any swelling?</ion-item>
      <div class=" item item-image">
        <img src="img/awM3smMSNqiPnBilY9dr_17714441.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <form id="daily3-form8" class="list">
        <div class="item item-body" id="daily3-list-item-container12">
          <div id="daily3-markdown19" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">This can occur in your ankles and legs. It can sometimes come with belly bloatedness or nausea.</p>
          </div>
        </div>
        <ion-radio id="daily3-radio10" name="swelling">Yes</ion-radio>
        <ion-radio id="daily3-radio12" name="swelling">No</ion-radio>
        <a ui-sref="tabsController.daily4()" id="daily3-button9" class="button button-positive button-block">Done</a>
      </form>
    </div>
  </ion-content>
</ion-view>