<ion-view title="daily1" hide-nav-bar="true" id="page8">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 id="daily1-heading5" style="color:#EF473A;">Daily Check-up</h1>
    <div class="list card" id="daily1-card25">
      <ion-item class="item-icon-left" id="daily1-list-item22">
        <i class="icon ion-android-bulb"></i>How're you feeling today?</ion-item>
      <div class=" item item-image">
        <img src="img/scale.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="daily1-list-item-container9">
        <div id="daily1-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">On a scale of 1-5.</p>
        </div>
      </div>
      <div id="daily1-button-bar1" class="button-bar"></div>
      <form id="daily1-form5" class="list">
        <ion-item class="range range-calm" id="daily1-range1">Feeling...
          <input type="range" value="3" min="1" max="5" step="1" name="feeling-range">
        </ion-item>
        <a ui-sref="tabsController.daily2()" id="daily1-button7" class="button button-positive button-block">Done</a>
      </form>
    </div>
  </ion-content>
</ion-view>
