<ion-view title="habits" hide-nav-bar="true" id="page16">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 style="color:#EF473A">Form a new Habit.</h1>
    <div id="habits-markdown38" class="show-list-numbers-and-dots">
      <p style="color:#444343;">Train your mind and body.</p>
    </div>
    <div class="list card" id="habits-card223">
      <ion-item class="item-icon-left balanced" id="habits-list-item86">
        <i class="icon ion-arrow-graph-up-right"></i>Popular Habits</ion-item>
      <ion-item class="item-thumbnail-left" id="habits-list-item82">
        <img src="img/yqxWwStASX6MyuMdXyhq_download1.png">
        <h2>Morning Yoga</h2>
        <p>210 subscribed
          <br>2 weeks</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="habits-list-item88">
        <img src="img/5cD83PcHSuG5ljO3nYri_sleeping-cat-icon-flat-style-isolated-white-background-sleep-rest-symbol-stock-vector-illustration-design-85133131.jpg">
        <h2>7 Hours of Sleep</h2>
        <p>340 subscribed
          <br>3 weeks</p>
      </ion-item>
      <ion-item id="habits-list-item89" class="center">More...</ion-item>
    </div>
    <div class="list card" id="habits-card211">
      <ion-item class="item-icon-left assertive" id="habits-list-item90">
        <i class="icon ion-ios-heart"></i>Healthy Living</ion-item>
      <ion-item class="item-thumbnail-left" id="habits-list-item92">
        <img src="img/vIYxCKFuRxGt3cspHn4Q_salt-bae.png">
        <h2>Cut Down on Salt</h2>
        <p>231 subscribed
          <br>3 weeks</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="habits-list-item91">
        <img src="img/8Feuf5jKRQKSjsAoAAlI_download2.png">
        <h2>Morning Jog</h2>
        <p>1140 subscribed
          <br>6 weeks</p>
      </ion-item>
      <ion-item id="habits-list-item93" class="center">More...</ion-item>
    </div>
  </ion-content>
</ion-view>