<ion-view title="Home-bad" hide-nav-bar="true" id="page15">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="homeBad-list5">
      <ion-item class="item-avatar item-icon-right assertive" id="homeBad-list-item94">
        <img src="img/gGrDqy6BR4e1BnztjZxw_0.jpeg">
        <h2assertive>Good evening, Charles.
          <p>Welcome back.</p>
          <i class="icon ion-ios-heart icon-accessory"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
    <div id="homeBad-button-bar4" class="button-bar">
      <button id="homeBad-button11" style="font-weight:600;font-size:20px;" class="button button-assertive button-large button-block">
        <b>Heart Health
          <b></b>
        </b>
      </button>
      <button id="homeBad-button12" class="button button-assertive button-large button-block button-outline">
        <b>47</b>/100</button>
    </div>
    <ion-list id="homeBad-list9">
      <ion-item class="item-icon-left assertive" id="homeBad-list-item112">
        <i class="icon ion-android-alert"></i>Warning: See below for details.</ion-item>
    </ion-list>
    <h4 id="homeBad-heading6" style="color:#000000;"></h4>
    <div class="list card" id="homeBad-card213">
      <ion-item class="item-icon-left" id="homeBad-list-item95">
        <i class="icon ion-android-sunny"></i>Summary for Tuesday</ion-item>
      <div class=" item item-image">
        <img src="img/NKsxK6aQWmPDdDriIEUG_line-graph-dribbbble.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="homeBad-container3">
        <ion-list id="homeBad-list6">
          <ion-item class="item-icon-left" id="homeBad-list-item96">
            <i class="icon ion-ios-heart-outline"></i>RESTING BPM:
            <b>100</b> bpm</ion-item>
          <ion-item class="item-icon-left" id="homeBad-list-item97">
            <i class="icon ion-flash"></i>STEP COUNT:
            <b>1239</b> steps</ion-item>
          <ion-item class="item-icon-left" id="homeBad-list-item106">
            <i class="icon ion-android-contact"></i>WEIGHT CHANGE:
            <b>+2.5%</b> /day</ion-item>
          <ion-item class="item-icon-left" id="homeBad-list-item111">
            <i class="icon ion-ios-cloudy-night"></i>HOURS SLEPT:
            <b>4.4</b> hours</ion-item>
          <ion-item class="assertive" id="homeBad-list-item98">Your weight has been steadily
            <br>increasing for a while and you’re
            <br>showing a weakened pulse.</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="list card" id="homeBad-card214">
      <ion-item class="item-icon-left assertive" id="homeBad-list-item99">
        <i class="icon ion-alert-circled"></i>
        <b>Critical!</b>
      </ion-item>
      <div class="item item-body" id="homeBad-list-item-container10">
        <div id="homeBad-markdown39" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Charles, according to our observations, you're showing the following symptoms:</p>

          <ul>
            <li>Water retention</li>
            <li>Weakened pulse</li>
            <li>Lowered energy levels</li>
            <li>Poor sleep cycle</li>
          </ul>

          <p style="color:#000000;">
            <strong>Your doctor has been notified, and will be scheduling an appointment as soon as possible.</strong>
          </p>
        </div>
      </div>
      <a href="tel:6503072572" id="homeBad-button13" style="font-weight:600;" class="button button-balanced button-block icon ion-ios-telephone"> Call Greenwood Clinic</a>
      <a href="tel:6582823628" id="homeBad-button16" style="font-weight:600;" class="button button-stable button-block icon ion-ios-telephone"> Call Wilson (Father)</a>
      <a href="tel:6582823628" id="homeBad-button17" style="font-weight:600;" class="button button-stable button-block icon ion-ios-telephone"> Call Pauline (Mother)</a>
    </div>
  </ion-content>
</ion-view>