<ion-view title="Home" hide-nav-bar="true" id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="home-list2">
      <ion-item class="item-avatar item-icon-right assertive" id="home-list-item20">
        <img src="img/gGrDqy6BR4e1BnztjZxw_0.jpeg">
        <h2assertive>Good evening, Charles.
          <p>Welcome back.</p>
          <i class="icon ion-ios-heart icon-accessory"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
    <div id="home-button-bar3" class="button-bar">
      <button id="home-button14" style="font-weight:600;font-size:20px;" class="button button-balanced button-large button-block">
        <b>Heart Health
          <b></b>
        </b>
      </button>
      <button id="home-button15" class="button button-balanced button-large button-block button-outline">
        <b>92</b>/100</button>
    </div>
    <ion-list id="home-list11">
      <ion-item class="item-thumbnail-left" id="home-list-item102">
        <img src="img/vIYxCKFuRxGt3cspHn4Q_salt-bae.png">
        <h2>Reminder:
          <br>Cut Down on Salt</h2>
        <p>Use half a pinch when
          <br>you cook tonight!</p>
      </ion-item>
    </ion-list>
    <h4 id="home-heading2" style="color:#000000;"></h4>
    <div class="list card" id="home-card23">
      <ion-item class="item-icon-left" id="home-list-item11">
        <i class="icon ion-android-sunny"></i>Summary for Tuesday</ion-item>
      <div class=" item item-image">
        <img src="img/NKsxK6aQWmPDdDriIEUG_line-graph-dribbbble.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="home-container1">
        <ion-list id="home-list1">
          <ion-item class="item-icon-left" id="home-list-item14">
            <i class="icon ion-ios-heart-outline"></i>RESTING BPM:
            <b>64</b> bpm</ion-item>
          <ion-item class="item-icon-left" id="home-list-item15">
            <i class="icon ion-flash"></i>STEP COUNT:
            <b>7685</b> steps</ion-item>
          <ion-item class="item-icon-left" id="home-list-item108">
            <i class="icon ion-android-contact"></i>WEIGHT CHANGE:
            <b>+0.1%</b> /day</ion-item>
          <ion-item class="item-icon-left" id="home-list-item109">
            <i class="icon ion-ios-cloudy-night"></i>HOURS SLEPT:
            <b>8.6</b> hours</ion-item>
          <ion-item class="positive" id="home-list-item21" ui-sref="tabsController.rewards()">You're doing great! Keep it up.</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="list card" id="home-card24">
      <ion-item class="item-icon-left energized" id="home-list-item18">
        <i class="icon ion-alert"></i>
        <b>Whoa there.</b>
      </ion-item>
      <div class="item item-body" id="home-list-item-container8">
        <div id="home-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Your heart rate peaked at
            <strong>143 bpm</strong> between
            <strong>1:34p-2:07p</strong>. What were you doing?</p>
        </div>
      </div>
      <form id="home-form3" class="list">
        <ion-radio id="home-radio2" name="peak">Eating</ion-radio>
        <ion-radio id="home-radio4" name="peak">Coffee</ion-radio>
        <ion-radio id="home-radio5" name="peak">Stressed</ion-radio>
        <ion-radio id="home-radio3" name="peak">Excited</ion-radio>
      </form>
    </div>
  </ion-content>
</ion-view>