<ion-view title="rewards" hide-nav-bar="true" id="page14">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 style="color:#EF473A">You earned it.</h1>
    <div id="rewards-markdown28" class="show-list-numbers-and-dots">
      <p style="color:#494848;">You have
        <strong>1372</strong> points remaining.</p>
    </div>
    <div class="list card" id="rewards-card217">
      <ion-item class="item-thumbnail-left" id="rewards-list-item46">
        <img src="img/EovPvnXSeabl1dfXwMYo_004b51d8d96d0f1c2d2ae14de6ef2503.jpg">
        <h2>$5 off at Whole Foods</h2>
        <p>Are you hungry for better? When it comes to what we put in and on our bodies, Whole Foods Market® believes the full story of those products is important as we</p>
      </ion-item>
    </div>
    <div class="list card" id="rewards-card212">
      <ion-item class="item-thumbnail-left" id="rewards-list-item48">
        <img src="img/aRMKoezBSZizMO5CIBNw_image.png">
        <h2>$5 off at Lyft</h2>
        <p>Need a lift? Use Lyft to get an affordable ride in minutes.</p>
      </ion-item>
    </div>
    <div class="list card" id="rewards-card215">
      <ion-item class="item-thumbnail-left" id="rewards-list-item68">
        <img src="img/iQUlrjpATbiITcwVN5ZH_download.png">
        <h2>10% off YogaGarden SF</h2>
        <p>Offers the best yoga in the Bay Area with beginner &amp; advanced classes, 200 &amp; 300-Hour Yoga Alliance teacher training certification.</p>
      </ion-item>
    </div>
    <div class="list card" id="rewards-card216">
      <ion-item class="item-thumbnail-left" id="rewards-list-item79">
        <img src="img/mltYtUujSWOur66H5hHh_download1.jpeg">
        <h2>10% off LiveFit Gym</h2>
        <p>Clean and accessible neighborhood gym in San Francisco. Gym, training, classes, massage, chiropractic, facials, and more!</p>
      </ion-item>
    </div>
    <div class="list card" id="rewards-card210"></div>
  </ion-content>
</ion-view>