<ion-view id="page1">
  <ion-tabs class="tabs-assertive tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-ios-heart" href="#/page1/home" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Daily" icon="ion-ios-sunny" href="#/page1/daily1" id="tabsController-tab6">
      <ion-nav-view name="tab6"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Habits" icon="ion-thumbsup" href="#/page1/habits" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Rewards" icon="ion-trophy" href="#/page1/tab5/rewards" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>